{% extends 'base.html'%}
{% load static %}
{% block content %}
<h1>Movie List</h1>
<div class="container">
    <div class="row ">
        {%for i in m %}
        <div class=" col-md-3 " style="height:">
            <div class="card" style="height:">
                <img src="{{i.img.url}}" class="card-img-top"  alt="..." height="250px">
                <div class="card-body">
                 <h5 class="card-title" style="text-transform:uppercase;">{{i.title}}({{i.year}})</h5>
                    <p class="card-text">RATING:{{i.rating}}</p>
                <a href="{% url 'filmlist:viewdetails' i.id %}" class="btn btn-primary">VIEW</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}